AZURE_OPENAI_API_KEY=9KkTv2dnDVr2njxOnCuOHQvmtWVa8KMe2vTJDCP4e5rDlGGB1b1YJQQJ99BKACHYHv6XJ3w3AAAAACOGRwa2
AZURE_OPENAI_ENDPOINT=https://ao30-ai-eastus2.cognitiveservices.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2025-01-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o
